@model List<GestorHorariov2._0.Models.HoraSalida>
@{
    ViewBag.Title = "Index";
}

<h1 class="card card-body" style="font-size:40px; text-align:center">Gestionar Hora Salida</h1>
<br />
<div class="text-right">
    <a href="~/HoraSalida/AgregarEditar/" class="btn btn-secondary text-right">Nuevo Registro</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th style="width:30px;text-align:center">Id</th>
            <th style="width:30px;text-align:center">Hora</th>
            <th style="width:30px;text-align:center">Estado</th>
            <th style="width:200px;text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@s.salida_id</th>
                <th>@s.salida_hora</th>
                <th>@(s.salida_estado == "A" ? "Activo" : "Inactivo") </th>
                <th style="text-align:center">
                    <a href="~/HoraSalida/Visualizar/@s.salida_id" class="btn btn-info btn-round"><i class="material-icons">person</i></a>
                    <a href="~/HoraSalida/AgregarEditar/@s.salida_id" class="btn btn-success btn-round"><i class="material-icons">edit</i></a>
                    <a href="~/HoraSalida/Eliminar/@s.salida_id" class="btn btn-danger btn-round" onclick="return confirm('Esta seguro de Eliminar?...')"><i class="material-icons">close</i></a>
                </th>
            </tr>
        }
    </tbody>
</table>
